
.padding-home {
  padding: 0 6%;
  margin-top: 2%;
}

.p-midHome{
  padding: 5% 6%;
}


@media screen and (min-width: 321px) and (max-width: 767px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  .p-midHome{
      padding: 5% 18%;
    }

   .padding-home {
    padding: 0 18%;
   } 
}