
.padding-home {
  padding: 0 6%;
  margin-top: 2%;
}

.p-midHome{
  padding: 2% 6%;
}

.mainText {
  width: 60%;
}

.home-video {
  width: 39%;
}

.headWidth {
  width: 90%;
}


@media screen and (min-width: 320px) and (max-width: 399px) {
      /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  .p-midHome{
      padding: 5% 5%;
    }

   .padding-home {
    padding: 0 5%;
    margin-top: 10%;
   } 

   .mainText {
    width: 100%;
   }

   .home-video {
    width: 80%;
  }

}

@media screen and (min-width: 400px) and (max-width: 431px) {

  .p-midHome{
    padding: 5% 7%;
  }

 .padding-home {
  padding: 0 5%;
  margin-top: 10%;
 } 

 .mainText {
  width: 100%;
 }

 .home-video {
  width: 80%;
}
}



@media screen and (min-width: 432px) and (max-width: 500px) {

  .p-midHome{
    padding: 5% 7%;
  }

 .padding-home {
  padding: 0 7%;
  margin-top: 10%;
 } 

 .mainText {
  width: 95%;
 }

 .home-video {
  width: 80%;
}
}

@media screen and (min-width: 501px) and (max-width: 572px) { 

  .p-midHome{
    padding: 5% 6%;
  }

 .padding-home {
  padding: 0 6%;
  margin-top: 5%;

 } 

 .mainText {
  width: 100%;
}

.headWidth{
  width: 77%;
}

.subHead{
  width: 95%;
}


.home-video {
  width: 80%;
}

}



@media screen and (min-width: 573px) and (max-width: 640px) { 
  .p-midHome{
    padding: 5% 6%;
  }

 .padding-home {
  padding: 0 6%;
  margin-top: 5%;

 } 

 


.home-video {
  width: 80%;
}



.mainText {
  width: 100%;
}

.headWidth{
  width: 72%;
}

.subHead{
  width: 90%;
}

}


@media screen and (min-width: 641px) and (max-width: 715px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  .p-midHome{
      padding: 5% 16%;
    }

   .padding-home {
    padding: 0 16%;
   } 

   
.mainText {
  width: 100%;
}

.headWidth{
  width: 65%;
}

.subHead{
  width: 70%;
}
}

@media screen and (min-width: 716px) and (max-width: 819px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  .p-midHome{
      padding: 5% 12%;
    }

   .padding-home {
    padding: 0 12%;
   } 

   
.mainText {
  width: 65%;
}
}