.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Automatically adjust column width */
  grid-template-rows: auto; /* Auto-sized rows */
  gap: 25px 25px;
  grid-auto-flow: row;
}

.service-box1, .service-box2, .service-box3, .service-box4 {
  border: 1px solid #c1c1c194;
  padding: 5%;
}

.p-title-services {
  padding: 0 6%;
}
.p-services {
  padding: 0 6%;
}

/* @media screen and (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr; 
  }
} */

@media screen and (min-width: 320px) and (max-width: 500px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  .services-container {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    padding: 0 0%;
  }

  .p-title-services {
    padding: 0 33%;
  }
  .p-services {
    padding: 0 0%;
  }
}




@media screen and (min-width: 501px) and (max-width: 819px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  .services-container {
    padding: 0 16%;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Single column layout on smaller screens */

  }
  
  .p-title-services {
    padding: 0 16%;
  }
  .p-services {
    padding: 0 0%;
  }

}