:root {
  /*  change this for scaling  */
    --m: 01rem;
    
    --red: #FF6565;
    --pink: #FF64F9;
    --purple: #6B5FFF;
    --blue: #4D8AFF;
    --green: #5BFF89;
    --yellow: #FFEE55;
    --orange: #FF6D1B;
}  

.cont {
    width: 100%;
   
    margin: auto;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* border: 1px solid #c1c1c194;   */
    border: 1px solid #c1c1c138;  
    max-width: 1024px;
    /* max-width: 1002px; */
    min-width: 1000px;

    
  }
  
  .content {
    flex: 1;
    /* padding: 20px; */
    /* background: #0c1ad8; */
    /* background-color: #000000;
    
  background: #020617; */
  /* background-color: #121212; */

        
  }

  .gradient-bg {
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(3, 0, 215, 0.3), #000);
}


h2::selection {
  color: #87f7dd;
  background: 0 0;
  -webkit-text-stroke: 0;
}
p::selection {
  color: #87f7dd;
  background: 0 0;
  -webkit-text-stroke: 0;
}
span::selection {
  color: #87f7dd;
  background: 0 0;
  -webkit-text-stroke: 0;
}


.lineGrad {
  border: calc(0.08 * var(--m)) solid transparent;
  /* position: relative; */
  color: #F3F3F3;

  /* border-radius: calc(0.7 * var(--m)); */
  /* padding: calc(0.5 * var(--m)) calc(1 * var(--m)); */
  display: flex;
  justify-content: center;
  cursor: pointer;
  
  /* background:
    linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  
    linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red)); */
    

    /* background:
    linear-gradient(rgb(8, 8, 47), rgb(8, 8, 47)), linear-gradient( rgb(255, 153, 238) 0%, rgb(143, 236, 255) 100%);   */
    /* linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red)
    ); */

    /* background: rgb(143,236,255); */
    background: rgb(143,236,255);
    background: linear-gradient(137deg, rgba(143,236,255,1) 23%, rgba(255,153,238,1) 70%);
  /* background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear; */
  /* background: linear-gradient(268deg, rgb(255, 153, 238) 50%, rgb(143, 236, 255) 80%); */
  /* background:
  linear-gradient(#26262f, #1d1d20), linear-gradient(#1414dd 50%, rgb(250, 2, 209) 80%, rgb(0, 213, 255)),  
  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red)); */
  
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transform: none;
  transform-origin: 50% 50% 0px;

}


.linearGrad{
  background: rgb(143,236,255);
background: -moz-linear-gradient(90deg, rgba(143,236,255,1) 0%, rgba(143,236,255,1) 16%, rgba(255,153,238,1) 86%, rgba(255,153,238,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(143,236,255,1) 0%, rgba(143,236,255,1) 16%, rgba(255,153,238,1) 86%, rgba(255,153,238,1) 100%);
background: linear-gradient(90deg, rgba(143,236,255,1) 0%, rgba(143,236,255,1) 16%, rgba(255,153,238,1) 86%, rgba(255,153,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8fecff",endColorstr="#ff99ee",GradientType=1);
border: 0px solid transparent;
 
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;



}


.hoverGrad {
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.hoverGrad:hover {
  opacity: 1; /* Fully opaque on hover */
}
.group {
  position: relative; /* Ensure positioning context */
}

.group:hover .hoverGrad {
  opacity: 1; /* Make the button visible when the parent card is hovered */
}


/* 
.lineGrad::before {
  content: '';
 
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
  background: #e3e3e3
} */

.lineGrad:hover, .lineGrad:hover::before {
  /* animation: animate 0.5s infinite linear; */
}
/* 
@keyframes animate {
  0% {background-position: 0}
  100% {background-position: 200%}
} */

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}